.div-boardgame-detail{
  background-color: var(--basic-white-color);
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
}

.create-rating-btn{
  z-index: 1000;
  position: fixed;
  bottom: calc(var(--navigation-height) + 1rem);
  right: calc((100% - var(--max-width)) / 2 + 2rem);
}