.div-user-rating-card {
  margin: var(--basic-margin);
  padding: 2%;
  border-radius: var(--basic-border-radius);
  background-color: var(--basic-gray-color);
}

.div-user-rating-basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.div-user-rating {
  display: flex;
  justify-content: left;
  align-items: start;
}

.rating-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 4vw;
  color: white;
  background-color: #394955;
  min-width:10vw;
  min-height:10vw;
  border-radius: 50%;
}

.p-rating-comment {
  display: -webkit-box;        
  -webkit-line-clamp: 2;      
  -webkit-box-orient: vertical;
  overflow: hidden;           
  text-overflow: ellipsis;    
  text-align: left;
  padding-top: 1%;
}

.div-tag-container{
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

.div-tag-item {
  flex: 0 0 48%;       
  box-sizing: border-box; 
  padding: 1% 3% 1% 3%;
  margin: 1%;
  border: 1px solid black;
  border-radius: var(--basic-border-radius);
  background-color: var(--basic-white-color);
  text-align: left;
  font-size: 0.8em;
}

.div-collapse-rating{
  display: flex;
  justify-content: end;
  padding: 1% 3% 1% 3%;
}