.custom-rating-rank {
  width: 100%;  
  min-height: 100%;
  background-color: var(--basic-white-color);
  /* font-size: 0.8rem; */
}

.table-rating-rank {
  width: 100%;
  /* border-collapse: collapse;  */
}

.table-rating-rank th {
  background-color: var(--basic-mint-color);
  white-space: nowrap;
  font-size: 0.8em;
}

.table-rating-rank th,
.table-rating-rank td {
  border-top: 1px solid black; /* 가로선 추가 */
  border-bottom: 1px solid black; /* 가로선 추가 */
  padding: 2%;
  text-align: center;
  position: relative; 
}

.table-rating-rank th::after,
.table-rating-rank td::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 0.5px; 
  height: 50%; 
  background-color: black;
}

/* 첫 번째 셀의 왼쪽 세로선 제거 */
.table-rating-rank th:first-child::after,
.table-rating-rank td:first-child::after {
  content: none;
}

/* 마지막 셀의 오른쪽 세로선 제거 */
.table-rating-rank th:last-child::before,
.table-rating-rank td:last-child::before {
  content: none;
}

.div-month-tab {
  display: flex;
  justify-content: space-around;
}

.span-month-item {
  font-size: 1.5em;
  padding: 0.5% 10%;
  margin: 0.5%;
  border-radius: var(--basic-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.span-month-item.active {
  background-color: var(--hover-mint-color); /* 민트색 */
  color: white;
}