.div-modal-overlay{
  position:fixed;
  top:0;
  width: var(--max-width) ;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2000;
}

.div-modal-container {
  background-color: var(--basic-white-color);
  width: 80%;
  padding: var(--basic-padding);
  border-radius: var(--basic-border-radius);
  max-height: 75%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow-y: scroll;
}