.custom-search-result {
  width: 100%;  
  min-height: 100%;
  background-color: var(--basic-white-color);
  /* font-size: 0.8rem; */
}

.div-pagination {
  position: sticky;
  background-color: var(--basic-white-color);
  /* bottom: var(--navigation-height); */
  /* left: 0;   */
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding : 10px 0px;
  /* z-index: 1000;           */
  background-color: rgb(--basic-white-color);
}

.div-pagination-numbers-container {
  margin: 0 0 0 0;
}

.span-pagination-item{
  margin: 0 1em 0 1em;
}

.span-pagination-item.current-page {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  /* color: blue; */
}

.no-results{
  text-align: center;
}

.table-searchresult {
  width: 100%;
  /* border-collapse: collapse;  */
}

.table-searchresult th {
  background-color: var(--basic-mint-color);
  white-space: nowrap;
  font-size: 0.8em;
}

.table-searchresult th,
.table-searchresult td {
  border-top: 1px solid black; /* 가로선 추가 */
  border-bottom: 1px solid black; /* 가로선 추가 */
  padding: 2%;
  text-align: center;
  position: relative; 
}

.table-searchresult th::after,
.table-searchresult td::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 0.5px; 
  height: 50%; 
  background-color: black;
}

/* 첫 번째 셀의 왼쪽 세로선 제거 */
.table-searchresult th:first-child::after,
.table-searchresult td:first-child::after {
  content: none;
}

/* 마지막 셀의 오른쪽 세로선 제거 */
.table-searchresult th:last-child::before,
.table-searchresult td:last-child::before {
  content: none;
}