.custom-card{
  margin: var(--basic-margin);
  padding: var(--basic-padding);
  border-radius: var(--basic-border-radius);
  background-color: var(--basic-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}