/* 상단 고정 네비게이션 */
.custom-navbar {
  top: 0;
  left: 0;
  max-width: var(--max-width);
  height: var(--navbar-height); 
  color: var(--navbar-font-color);
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  display: flex;
  justify-content: start;
  align-items: center;
  padding: var(--basic-padding);
}

.search-icon{
  width: 20px; /* 원하는 크기로 조정 */
  height: auto; /* 비율 유지 */
  margin-right: 5px; /* 텍스트와의 간격 */
}