#root {
  max-width: var(--max-width);
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: #61dafb; */
  border : 1px solid black;
}


/* 전역 CSS 변수 선언 */
:root {
  /* --primary-color: #3498db; */
  /* --secondary-color: #2ecc71; */
  --font-size-base: 16px;
  --navbar-height: 7vh;
  --navbar-font-color: white;
  --navigation-height: 7vh;
  --navigation-font-color: black;
  --max-width: 800px;
}

.component-background {
  background-image: url('/public/img/basic_background.jpg'); /* 배경 이미지 경로 */
  background-size: auto 100vh;  /* 높이는 100vh로 고정, 비율 유지 */
  background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
  background-position: center;  /* 이미지를 가운데 정렬 */
  height: 100vh;                /* 컴포넌트 높이를 화면 높이에 맞춤 */
  max-width: 100%;                  /* 컴포넌트 너비를 화면 너비에 맞춤 */
}

/* 전체 컨테이너 스타일 */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* 중앙 메인 콘텐츠 영역 */
.main-content {
  flex: 1;
  /* margin-top: var(--navbar-height);  */
  /* margin-bottom: var(--navigation-height); */
  overflow-y: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
